{
  "openapi": "3.1.0",
  "info": {
    "title": "Inject.Today API",
    "description": "API for retrieving and updating version and exploit data for Inject.Today.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://inject.today"
    }
  ],
  "paths": {
    "/api/versions/current": {
      "get": {
        "summary": "Current",
        "description": "Returns the current versions of Roblox.",
        "responses": {
          "200": {
            "description": "Current Roblox versions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionsResponse"
                },
                "example": {
                  "Windows": {
                    "Version": "version-bef193a8f3d14d3c",
                    "Date": "3/17/2025 4:04:55 PM"
                  },
                  "Macintosh": {
                    "Version": "version-0b638b32e4ac485c",
                    "Date": "3/17/2025 4:04:32 PM"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/versions/future": {
      "get": {
        "summary": "Future",
        "description": "Returns the future versions of Roblox.",
        "responses": {
          "200": {
            "description": "Future Roblox versions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionsResponse"
                },
                "example": {
                  "Windows": {
                    "Version": "version-xyz456789",
                    "Date": "3/20/2025 10:14:55 AM"
                  },
                  "Macintosh": {
                    "Version": "version-123abc789xyz",
                    "Date": "3/20/2025 10:14:32 AM"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/cheats": {
      "get": {
        "summary": "Cheats",
        "description": "Returns detailed data for all cheats available on Inject.Today, including platform information, pricing, detection status, and reviews.",
        "responses": {
          "200": {
            "description": "List of cheats with detailed information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "patternProperties": {
                    "^[A-Za-z0-9_-]+$": {
                      "$ref": "#/components/schemas/Cheat"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Severe": {
                    "Identifier": "xJaK2vrMde",
                    "Tags": {
                      "Windows": {
                        "Rank": "Reputable",
                        "Parent": "Cheats"
                      }
                    },
                    "Attributes": {
                      "Windows": {
                        "Score": 95,
                        "Resellers": false,
                        "Type": "External",
                        "Access": "Usermode",
                        "PricingModel": [
                          "Lifetime"
                        ],
                        "ReleaseDate": "06/2021"
                      }
                    },
                    "Cost": {
                      "Windows": "$20 Lifetime"
                    },
                    "Visibility": {
                      "Windows": {
                        "Website": true,
                        "Updates": true,
                        "Reviews": true,
                        "Settings": true
                      }
                    },
                    "Links": {
                      "Windows": {
                        "Discord": "https://discord.com/invite/severe1",
                        "Purchase": "https://discord.com/invite/severe1"
                      }
                    },
                    "Platforms": {
                      "Windows": {
                        "Detection": {
                          "Raw": 0,
                          "Readable": "Fully undetected"
                        },
                        "Tracked": true,
                        "Versions": {
                          "Software": "None",
                          "Roblox": "None"
                        }
                      }
                    },
                    "Name": "Severe",
                    "Update": {
                      "Platforms": {
                        "Windows": {
                          "Timestamp": "2025-10-10T21:20:11.580Z"
                        }
                      }
                    },
                    "Reviews": [
                      {
                        "Identifier": "3D70S2",
                        "Author": "1237865177605738546",
                        "Rating": 5,
                        "Comment": "Severe has always been my number 1 external for ages...",
                        "Timestamp": 1760131972308,
                        "Parent": "Severe"
                      },
                      {
                        "Identifier": "3D711E",
                        "Author": "886038109530239036",
                        "Rating": 5,
                        "Comment": "One of the best externals I have used...",
                        "Timestamp": 1760133568531,
                        "Parent": "Severe"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/update": {
      "post": {
        "summary": "Update Versions",
        "description": "Updates version information for Roblox and Inject.Today software. Requires authorization.",
        "security": [
          {
            "cheatAuth": []
          }
        ],
        "requestBody": {
          "description": "Version update payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequest"
              },
              "example": {
                "Versions": {
                  "Roblox": "version-abcdef123456",
                  "Software": "v2.4.1",
                  "Changelog": "Fixed compatibility issues and improved stability."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Version update successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "success": true,
                    "message": "Version data updated successfully."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing or invalid Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PlatformVersion": {
        "type": "object",
        "properties": {
          "Version": {
            "type": "string",
            "description": "Version identifier."
          },
          "Date": {
            "type": "string",
            "description": "Date/time when this version was recorded."
          }
        },
        "required": [
          "Version",
          "Date"
        ]
      },
      "VersionsResponse": {
        "type": "object",
        "properties": {
          "Windows": {
            "$ref": "#/components/schemas/PlatformVersion"
          },
          "Macintosh": {
            "$ref": "#/components/schemas/PlatformVersion"
          }
        }
      },
      "Exploit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "version": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "UpdateRequest": {
        "type": "object",
        "properties": {
          "Versions": {
            "type": "object",
            "properties": {
              "Roblox": {
                "type": "string"
              },
              "Software": {
                "type": "string"
              },
              "Changelog": {
                "type": "string"
              }
            },
            "required": [
              "Roblox",
              "Software"
            ]
          }
        },
        "required": [
          "Versions"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "message"
        ]
      }
    },
    "securitySchemes": {
      "cheatAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Cheat authentication header of the form `Cheat <token>`, where `<token>` is your auth token."
      }
    }
  }
}